[Unit]
Description=Automated Backups with restic to S3 Storage
OnFailure=status-email-user@%n.service
Requires=nm-unmetered-connection.service

[Service]
Type=simple
Nice=10
ExecStart=/usr/local/sbin/directadmin-vps-backup.sh
# $HOME or $XDG_CACHE_HOME must be set for restic to find /root/.cache/restic/
Environment="HOME=/root"
